# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDEs and editors
.vscode/
.idea/
*.log

# OS files
.DS_Store
Thumbs.db

# DeepFace caches
.cache/
.deepface/

# Temp files
*.tmp
*.swp
